<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <display-name>servlet</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <context-param>
    <param-name>count</param-name>
    <param-value>1000</param-value>
  </context-param>
  <servlet>
    <servlet-name>lifeServlet</servlet-name>
    <servlet-class>servlet.LifeServlet</servlet-class>
    <init-param>
      <param-name>company</param-name>
      <param-value>AsianInfo</param-value>
    </init-param>
    <init-param>
      <param-name>address</param-name>
      <param-value>WuHan</param-value>
    </init-param>
  </servlet>
  <servlet-mapping>
    <servlet-name>lifeServlet</servlet-name>
    <url-pattern>/life.do</url-pattern>
  </servlet-mapping>
  <error-page>
    <exception-type>javax.servlet.ServletException</exception-type>
    <location>/error.jsp</location>
  </error-page>
</web-app>